{
  "casa": "super",
  "url": "https://77super.com/en/game/101803005-Bac%20Bo",
  "game_url": "https://77super.com/en/game/101803005-Bac%20Bo",
  "target_url": "https://77super.com/en/game/101803005-Bac%20Bo",
  "mesa_url": "https://77super.com/en/game/101803005-Bac%20Bo",
  "login_url": "https://77super.com/",
  "browser_profile_dir": "browser_profile_77super",
  "profile_directory": "browser_profile_77super",
  "user_data_dir": "browser_profile_77super",
  "headless": false,
  "no_telegram": true
}
